@media screen and (max-width: 980px){

	section{
		padding:60px 15px;
		max-width: 100%;
	}

	.container {
		max-width: 100%;
	}
	.email {
		width: 572px;
	}
	.social a {
		float: right;
	}
	.social {
		width: 152px;
		float: right;
		margin-right: 20px;
	}

	.email {
		width: 312px;
	}
	.topbarWrapper {
		display:none;
	}
		header#topBar {
		top: 0px;
	}







	.slideNav {
		position: relative;
		top: -28px;
	}

	.sliderContent {
		padding-left: 20px;
	}
	.sliderContent h1{
		padding-top:40px;
		font-size:35px;
	}

	#homeSlider{
		height: 380px;
	}
	.slideNav {
		width: 65px;
	}
	/*end slider section*/



	.singleBox {
		width: 450px;
		margin-bottom:31px;
		padding:0px;

	}
	.singleBox:nth-child(2){
		margin-right:0px;
		margin-bottom:0px;
	}
	.singleBox:last-child{
		margin-right:0px;
		margin-bottom:0px;
	}
	/*end service section*/



	.teamImage {
		max-width: 100%;
		width: 100%;
}
	.teamImage img {
		width: 100%;
		padding-right: 0px;
	}

	teamDetails {
		width: 100%;
		float:left;

	}
	.titleDesc {
		max-width: 100%;
	}
	.titleDesc h2 {
		margin-bottom: 30px;
	}
	.titleDesc p {
		margin-bottom: 20px;
		width: 100%;
	}

	ul.teamFleftUl {
		margin-bottom: 0px;
		margin-right: 0px;
		width: 50%;
	}
	ul.teamFrightUl {
		width: 50%;
	}
	.teamContactBtn {
		margin-top:40px;
		width: 100%;
		transition: .8s;
	}
	.teamDetails {
		width: 100%;
	}
	.teamFacilities {
		width: 100%;
		display: inline-block;
	}

	/*end team section*/




	.singleIcon {
		width: 25%;
		margin-right: 7px;
	}
	.singleIcon:last-child{
		margin-right:0px;
		width:212px;
	}
	/*end team section*/




	section#blogPost {
    height: 500px;
	}
	.secTitle p{
		width:100%;
		font-size:19px;
	}
	.secTitle h2::after{
		left:-35px;
	}

	.singlePost {
		width: 212px;
	}
	img {
		width: 100%;
	}
	.postInfo{
		width: 100%;
	}
	.postInfo p {
		width: 100%;
	}
	/*end blogPost section*/



	section#pricePlan {
		padding-left: 0px;
		padding-right: 0px;
		display: inline-block;
	}
	.pricePTitle  p{
		width:100%;
		font-size:19px;
	}
	.pricePTitle h2::after{
		left:-16px;
	}
	.tableList {
		padding: 0px 15px;
	}

	.singleTable{
		width: 232px;
		margin: 0px 15px;
	}
	.singleTable:last-child{
		margin-right:0px;
	}
	.singleTable:first-child{
		margin-left:0px;
	}
	/*end priceplan section*/




	section#aideas {
		height: 470px;
	}
	.rIcons {
		margin-left: 0px;
		margin-bottom:10px;
	}
	.rContantTitle h2 {
		font-size: 20px;
		width: 100%;
	}
	.rContantTitle p {
		width: 100%;
		font-size:14px;
	}
	.rIconsSingle {
		width: 45%;
		margin-right:40px;
	}
.rIconsSingle:nth-child(2){
	margin-right:0px;
	}
	.rIconsSingle:nth-child(4){
		margin-right:0px;
	}
	.rIcons i {
		font-size: 40px;
	}
	.rIconsTitle h2{
		width:100%
	}
	.rIconsTitle p {
		font-size: 14px;
		width: 100%;
	}

	.rightContant{
		padding:40px;
	}
	/*end aideas section*/





	.teamTitle h2::after{
		left:-4%;
	}
	.teamTitle p{
		width:100%;
	}

	.singleperson {
    overflow: hidden;
    width: 22%;
    margin-right: 35px;
	}
	.personImage {
    width: 100%;
    height: 206px;
    position: relative;
	}
	/*end team section*/


	.singleProject {
		width: 290px;
		margin-right: 22px;
		float: left;
	}
	.projectInfo {
		width: 100%;
		padding: 40px 0px 10px;
	}
	.projectMeta{
		padding-left:20px;
	}
	.projectMeta p {
		width: 100%;
	}
	.projectMeta h3 {
		width: 100%;
	}
	#learnMoreBtn {
		transform: translateX(-22px);
	}
	.singleProject:hover #learnMoreBtn {
		transform: translateX(20px);
	}
	.singleProject:hover .projectInfo {
		padding: 40px 0px 13px;
	}
	/*end projectinfo section*/



	.newsImage img {
		width: 100%;
		height: 240px;
	}
	.newsInfo {
		width: 100%;
	}
	.newsMeta {
		width: 100%;
	}
	.singleNews {
		width: 290px;
	}
	.newsTitle p {
		width: 255px;
	}
	/*end latestnews section*/



	section#LatestNews {
		height: 725px;
	}
	.fbox p {
		width: 100%;
	}
	.fbox {
		width: 45%;
	}


	.copyrighttext {
		width: 500px;
		margin-left: 20px;
	}
	.subsBoxSingle {
		width: 270px;
	}
	.subsBoxSingle input {
		font-size: 14px;
	}
	button.bt-submit {
		padding: 15px 29px;
		transform: translateX(-71px);
		font-size: 14px;
	}
	.subsBoxSingle p {
    width: 100%;
    font-size: 13px;
	}
	.subsFollowIcons a {
    width: 30px;
    height: 30px;
	}
}


@media screen and (max-width:768px){

	.sliderContent {
		width: 100%;
	}
	.sliderContent h1 {
		padding-top:40px;
		font-size:35px;
	}
	.sliderContent p{
		width:100%;
		font-size: 16px;
	}
	/*end slide section*/
	.singleBox {
		width: 100%;
		float: none;
	}
	.sboxTitle{
		width: 100%;
	}

	/*end service section*/

	.singleIcon{
		width:100%;
		margin-bottom: 50px;
		margin-right: 0px;
	}
	.singleIcon h4 {
    font-size: 24px;
}
	.singleIcon:last-child {
		width: 100%;
		margin-bottom: 0;
	}
	/*end waychooseus section*/
	.secTitle h2::after {
		left: -150px;
	}

	.singlePost {
		width: 100%;
	}
	.postInfo p {
    margin-bottom: 30px;
	}
	/*end blogpost section*/


	.pricePTitle h2::after {
		left: -16%;
	}
	.singleTable {
		width: 100%;
		margin: 0px 0px;
		margin-bottom: 30px;
		display: inline-table;
	}
	/*end blogpost section*/


	.rIconsSingle {
	    display: block;
	    width: 100%;
			margin-bottom: 50px;
	}
	.rightContant {
		float: none;
		width: 100%;
		height:100%;
	}
	.rContantTitle h2{
		font-size:35px;
	}
	.rContantTitle p {
    font-size: 18px;
}
	.rIconsTitle {
    float: left;
}
.rIconsTitle h2{
	font-size: 22px;

}
.rIconsTitle p{
	font-size: 18px;

}
section#aideas {
    height: 640px;
}
.rIcons {
    width: 60px;
}
	/*end aidea section*/



	.teamTitle h2::after {
    left: -19%;
	}
	.personImage {
		width: 100%;
		height: 100%;
	}

	.singleperson {
		width: 100%;
		float: none;
		margin-bottom:30px;
	}
	.personInfo {
		width: 100%;
		height: 100%;
		margin-top: 31px;
	}
	.teamTitle p{
		font-size: 18px;
	}
	/*end team section*/

	.singleNews {
		width: 100%;
		margin-bottom:30px;
	}
	.newsImage {
		width: 100%;
		height: 450px;
	}
	.newsImage img {
		width: 100%;
		height: 100%;
		margin-bottom:0px;
	}
	.newsTitle p {
		width: 85%;
	}

	/*end project section*/



	.subsBoxSingle:first-child {
		margin-left: 0px;
	}
	.subsBoxSingle {
		width: 270px;
	}
	.subsBoxSingle {
		width: 323px;
		float: none;
		padding-bottom: 20px;
	}
	button.bt-submit {
		transform: translateX(-47px);
	}
	.subsBoxesWrapper{
		width:95%;
	}
	/*end subscribe section*/


	.copyrightMenu {
    width: 260px;
    font-size: 14px;
	}
	.copyrighttext {
		width: 450px;
		margin-bottom:15px;
	}
	/*end copyright section*/
}
